<nav class="navbar navbar-expand-lg navbar-inverse sticky-top" style="background-color: black; color:white">
    <a class="navbar-brand" href="#" style="color:white">Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active navs" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link navs" href="#aboutme">About Me</a>
            <a class="nav-item nav-link navs" href="#experience">Experience</a>
            <a class="nav-item nav-link navs" href="#project">Projects</a>
            <a class="nav-item nav-link navs" href="#education">Education</a>
            <a class="nav-item nav-link navs" href="#contact">Contact</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <h3>&lt;h1&gt;</h3>
        <div class="col col-md-7">
            <div class="header" align="center">
                <div class="animate">Hello.</div>
                <div class="animate">I am</div>
                <!--
                <div class="animate" style="color: cornflowerblue;">Akshay</div> -->
                <!-- <h3 class="fixed">Click the letters!</h3> -->
                <div class="word" style="color: deepskyblue">
                    <span>A</span>
                    <span>K</span>
                    <span>S</span>
                    <span>H</span>
                    <span>A</span>
                    <span>Y</span>
                    <div style="font-size: small;">click the letters!</div>
                </div>
            </div>
        </div>
        <div class="col col-md ">
            <img src="https://akshayj2518.github.io/Portfolio-Website/assets/My_Photo.jpg" align="right" style="margin-right: 15%;">
        </div>
        <h3>&lt;/h1&gt;</h3>
    </div>
    <h3>&lt;body&gt;</h3>
    <br>
   
    <div class="card" id="aboutme" data-aos="fade-up" data-aos-offset="10"
        style="background-color: rgb(29, 29, 29); color: white;">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card-body">
                    <div class="h4 mt-0 title" style="font-weight:bold">About Me</div>
                    <p align="justify">* Motivated software developer with 1+ year of experience in the IT industry with
                        expertise in backend development using java, springboot, JPA etc.</p>
                    <p align="justify">* Recently been facinated by the idea of solving big problems by writing few
                        lines. Always ready to learn and improve to better myself.</p>
                    <p align="justify">* Seeking to secure a challenging position as a software developer to build
                        innovative solutions.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card-body">
                    <div class="h4 mt-0 title" style="font-weight:bold">Basic Information</div>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">Date of Birth:</strong>
                        </div>
                        <div class="col-sm-8">January 25, 1998</div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">Email:</strong>
                        </div>
                        <div class="col-sm-8">marwadkarakshay@gmail</div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">Other Interests :</strong>
                        </div>
                        <div class="col-sm-8">Sports, fitness and reading</div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">Language:</strong>
                        </div>
                        <div class="col-sm-8">English, Hindi, Marathi</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="h4 text-center mb-4 title" id="experience" style="font-weight:bolder; font-size: xx-large;">Work
        Experience</div>
    <div class="row">
        <ul class="timeline">
            <li>
                <div class="timeline-badge up bg-green">
                    <i class="fa fa-thumbs-up"></i>
                </div>
                <div class="timeline-panel shadow-lg">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <div class="h5 mt-0 title" style="font-weight: bolder;">Larsen and Toubro Infotech</div>
                            <div class="h6 mt-0 title">Package Consultant (Nov 2020 - Present)</div><br>
                            <p align="justify">Working as a siebel admin and developer for the project of Ministry of
                                Corporate affairs.</p>
                            <p align="justify">Tried new solutions and tools for potential integration into ongoing
                                development efforts and maintained standards.</p>
                            <p align="justify">Performed configuration and scripting development for Siebel tools and
                                new environments to introduce new enhancements and updates.</p>
                            <p align="justify">Diagnosed and executed resolution for network and server issues.</p>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <!-- <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list"></li>
                                                <li class="non_list">Application Development</li>
                                            </ul> -->
                                <li class="list">Technologies and Language</li>
                                <ul>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <li class="non_list">Siebel</li>
                                            <li class="non_list">Linux</li>
                                            <li class="non_list">Oracle SQL</li>
                                            <!-- <li class="non_list">Treadmill</li>
                                                        <li class="non_list">Git</li> -->
                                        </div>
                                        <div class="col-md-6">
                                            <!-- <li class="non_list">Spring</li>
                                                        <li class="non_list">Java</li> -->
                                            <!-- <li class="non_list">DB2</li> -->
                                            <li class="non_list">Shell-Scripting</li>
                                        </div>
                                    </div>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge down">
                    <i class="fa fa-users"></i>
                </div>
                <div class="timeline-panel shadow-lg">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <div class="h5 mt-0 title" style="font-weight: bolder;">Tata Consultancy Services</div>
                            <div class="h6 mt-0 title">Salesforce Intern (Feb 2020 - Jul 2020)</div>
                            <p align="justify">Worked as a Salesforce Intern.</p>
                            <p align="justify">Received training in different salesforce modules like objects, forms,
                                relationship, visualforce, workflow, security and data access..</p>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li class="list">Core Functionality</li>
                                <ul>
                                    <li class="non_list">Salesforce App Development</li>
                                    <!-- <li class="non_list">Application Development</li>
                                                <li class="non_list">Web Development</li> -->
                                </ul>
                                <li class="list">Technologies and Language</li>
                                <ul>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <li class="non_list">Salesforce</li>
                                            <li class="non_list">Apex</li>
                                            <li class="non_list">Visualforce</li>
                                            <!-- <li class="non_list">Mysql</li> -->
                                        </div>
                                        <!-- <div class="col-md-6">
                                                        <li class="non_list">Python</li>
                                                        <li class="non_list">Microsoft Azure</li>
                                                        <li class="non_list">Vaadin Web Framework</li>
                                                        <li class="non_list">Git</li>
                                                    </div> -->
                                    </div>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- projects -->
    <div class="h4 text-center mb-4 title" id="project" style="font-weight:bolder; font-size: xx-large;">Projects</div>
    <br>
    <div class="card shadow-lg" style="width:80%; margin:auto">
        <div class="row">
            <div class="col-md" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                    <div class="h3">Ballot Block</div>
                    <h4 class="category">Voting dApp based on Ethereum smart contract</h4>
                    <h6><a href="https://github.com/akshayj2518/Voting-App-Using-Blockchain.git">Github</a></h6>
                    <ul>
                        <li>Built a full stack web application that is secured by blockchain.</li>
                        <li>User can vote for the candidate of their choice by just visiting the website, after voting
                            the account address of the user is retrieved and stored on the blockchain so that they
                            cannot vote again, also the vote count with respect to the candidate is stored and displayed
                            immediately. </li>
                        <li>Smart contract is built using <b>Solidity</b> language and <b>truffle</b> framework,
                            <b>ganache</b> is used for local blockchain and frontend is built using <b>html, CSS and JS
                            </b>with <b>web3js</b> used for connecting the frontend to the smart contract.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-md" style="width:80%; margin:auto">
        <div class="row">
            <div class="col-md" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                    <div class="h4">Pollinator Bee</div>
                    <h4 class="category">Imitation of Bee Pollination using a drone (eYrc-IIT Bombay)</h4>
                    <h6><a href="https://www.youtube.com/watch?v=zNZn2-iaCco&list=WL&index=31">Youtube Video</a></h6>
                    <ul>
                        <li>Came <b>4th</b> all over India in Pollination Bee theme at eYrc Robotics competition held at
                            IIT Bombay(Team of four).</li>
                        <li>About the project: A drone had to imitate movement of bees i.e. going to a flower which was
                            basically led circuit of exposed wires and hover over it and pollinate it and finally return
                            back to it's base.</li>
                        <li>Technologies used: <b>V-Rep, ROS, Image processing – opencv, drone PID, Linux, Python.</b>
                        </li>
                        <li>Contribution: Worked on drone PID/Path, Image processing and circuit design.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="h4 text-center mb-4 title" style="font-weight:bolder; font-size: xx-large; " id="education">Education
    </div>
    <div class="card shadow-lg" style="width:80%; margin:auto">
        <div class="row ">
            <div class="col-md-3" style="background-color: deepskyblue;" data-aos="fade-right" data-aos-offset="50"
                data-aos-duration="500">
                <div class="card-body cc-education-header">
                    <p>2016-2020</p>
                    <div class="h5">Bachelor Degree</div>
                </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                    <div class="h4">Bachelor of Engineering</div>
                    <h4 class="category">Shri Ramdeobaba College Of Engineering and Management</h4>
                    <ul>
                        <!-- <li> COmpleted degree in <b>Electronics and Communication</b> Engineering </li> -->
                        <li>Completed B.E in Electronics and Communication Engineering with <b>8.48 CGPA</b>.</li>
                        <li>Competed in eYantra robotics competetion organised by IIT Bombay and came <b>4th</b>
                            overall.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-lg" style="width:80%; margin:auto">
        <div class="row">
            <div class="col-md-3 " style="background-color: deepskyblue;" data-aos="fade-right" data-aos-offset="50"
                data-aos-duration="500">
                <div class="card-body cc-education-header">
                    <p>2014-2016</p>
                    <div class="h5">HSC</div>
                </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                    <div class="h4">Higher Secondary Education / 12th</div>
                    <h4 class="category">Bhavan's BP Vidya Mandir</h4>
                    <ul>
                        <li>Completed <b>12th</b> in <b>Science</b> with <b>85.6%</b> aggregate.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-md" style="width:80%; margin:auto">
        <div class="row">
            <div class="col-md-3 " style="background-color: deepskyblue;" data-aos="fade-right" data-aos-offset="50"
                data-aos-duration="500">
                <div class="card-body cc-education-header">
                    <p>2014</p>
                    <div class="h5">Secondary School</div>
                </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                    <div class="h4">Secondary School</div>
                    <h4 class="category">St. Xavier's High School, Nagpur</h4>
                    <ul>
                        <li>Completed SSC with <b>89.4%</b>.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <h3>&lt;/body&gt;</h3>
    <!-- <contact></contact> -->
    <br>
    <br>
    <h3>&lt;footer&gt;</h3>
    <div class="h4 text-center mb-4 title " id="contact" style="font-weight:bolder; font-size: xx-large; ;">Contact Me
    </div><br>
    <div class="card shadow-lg" id="aboutme" data-aos="fade-up" data-aos-offset="10"
        style="background-color: rgb(29, 29, 29); color: white; width: 50%;  margin:auto">
        <div class="row">
            <div class="col-lg col-md-12">
                <div class="card-body" align="center">
                    <!-- <div class="h4 mt-0 title" style="font-weight:bold">Basic Information</div> -->
                    <div class="row">

                        <div class="row mt-4">
                            <div class="col-sm">
                                <strong class="text-uppercase">Email : </strong>Marwadkarakshay@gmail.com
                            </div>
                            <!-- <div class="col-sm-8">marwadkarakshay@gmail</div> -->
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm">
                                <strong class="text-uppercase">
                                    <a class="cc-twitter btn btn-link "
                                        href="https://www.linkedin.com/in/akshay-marwadkar-93906b15a" target="_blank"
                                        style="font-size:1.5em;color:deepskyblue; font-family: cursive;">
                                        LinkedIn
                                    </a>
                                </strong>
                            </div>
                            <!-- <div class="col-sm-8">Sports, fitness and reading</div> -->
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm">
                                <strong class="text-uppercase"><a class="cc-twitter btn btn-link "
                                        href="https://github.com/akshayj2518" target="_blank"
                                        style="font-size:1.5em;color:lightgreen; font-family: cursive">
                                        Github
                                    </a></strong>
                            </div>
                            <!-- <div class="col-sm-8">English, Hindi, Marathi</div> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <h3>&lt;/footer&gt;</h3>